<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengnanyue.uasmartheart" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.camera"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/heart"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="viewPager.Guide">

        </activity>
        <activity android:name="viewPager.WelcomeAct">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="atys.AtyInput"/>
        <activity android:name="atys.AtyMethod1"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="atys.AtyMethod2"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="atys.AtyMethod3"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="atys.AtyInfo"/>
        <activity android:name="atys.AtyLink"/>
        <activity android:name="atys.AtySetting"/>
        <activity android:name="atys.AtyMonthInput"/>
        <activity android:name="atys.AtyPreGuide"/>
        <activity android:name="tools.ShowFront"/>
        <activity android:name="tools.ShowSide"/>
        <activity android:name="tools.DialogActivity"
            android:theme="@style/Theme_dialog" />
        <activity android:name="tools.DialogActivitySide"
            android:theme="@style/Theme_dialog" />
    </application>
</manifest>
